<div class="container">
    
    <div class="container">       
        <h1>🚘 VEHICLE LOOKUP 🚘</h1>
        <form id="vehicle-lookup" action = "/vrms" method = "post">
            Vehicle Registration: <input type="text" name="vrm" required>  <br>
            <input id="submit-button" type="submit" value="Submit">
        </form>
    </div>
    
    <div class="search_list">
        <ul class="no_bullet">
        {{#each vrms}}
        <li class="vehicle"><h3>🚗 - {{this.vrm}}</h3></li>
        <p>Make: {{this.data.Make}} Model: {{this.data.Model}} Manufactured: {{this.data.ManufacturedDate}} </p>
        {{/each}}
        </ul>
    </div>

</div>
    
  